.DS_Store
log/*
tmp/**/*
config/database.yml
config/twitter.yml
public/images/me.jpg
public/system/*
public/stylesheets/cached_*.css
public/stylesheets/cpanel
public/javascripts/lib
public/javascripts/cpanel
public/javascripts/*.js
public/[a-z]+.html
