.DS_Store
log/*
tmp/**/*
config/application.rb
config/database.yml
config/twitter.yml
public/work.html
public/about.html
public/blog
public/links.html
public/share.html
public/javascripts/cached_*
public/stylesheets/cached_*
tags
