<% content_for :submenu do %> 
	<% if params[:action] == 'index' %>
	<li class="current"><span>文章列表</span></li>
	<% else %>
	<li><%= link_to "文章列表", :controller => "posts", :action => "index" %></li>
	<% end %>
	<% if params[:action] == 'new' %>
	<li class="current"><span>撰写</span></li>
	<% else %>
	<li><%= link_to "撰写", :controller => "posts", :action => "new" %></li>
	<% end %>
	<% if params[:action] == "edit" %>
	<li class="current"><span>编辑</span></li>
	<% end %>
	<li><%= link_to "分类管理", :controller => "categories", :action => "index" %></li>
	<li><%= link_to "导入博客大巴备份文件", :controller => "posts", :action => "importblogbus" %></li>	
<% end %>
