#left_side { float:left; width:280px;}
#middle_side { float:left; margin:0 10px;}

.quick ul li { line-height:250%;}
.quick ul li a:link,.quick ul li a:visited { color:#028B3D; font-size:14px; font-weight:bold;}

.statistics { }
.statistics span.num { color:#DB5A4A;}