.post_body { font-size: 13px; padding:5px 0; line-height: 140%; }


	.post_body h2 { margin: 10px 0; font-size: 16px;}
	.post_body h3 { margin: 9px 0; font-size: 15px;}
	.post_body h4 { margin: 8px 0; font-size: 14px;}
	.post_body h5 { margin: 7px 0; font-size: 13px;}
	.post_body h6 { margin: 6px 0; font-size: 12px;}
	.post_body p { margin-bottom: 8px;}
	.post_tags { height:24px; line-height: 24px;}
	.post_stats { float:right; margin-top: -24px; margin-right: 10px;}
	.post_info { font-size: 12px; color:#999;}
	.post_body pre { margin:10px 0; padding:10px; font-size:12px; font-family: "????"; line-height:140%;}

#sidebar .box { margin-bottom: 30px;}
	#sidebar .box .title { color:#BBB; font-size: 14px; font-weight: bold;}
	#sidebar .box .content { margin:10px 10px;}
	#sidebar .box .content ul { margin: 0px; padding:0;  list-style: disc inside;}
	#sidebar .box .content ul li {  border-bottom: 1px solid #EEE; padding:5px;}
	#sidebar #feed #big_feed { float:left; margin-right:10px; margin-left: 10px;}
	#sidebar #feed img {border:0;} 
	#sidebar #categories ul li a { font-size:13px;  font-weight: bold; color:#70AF22;}
	#sidebar #categories ul li a:hover { color:#CB4802; }
	#sidebar #categories span.count { color:#999; text-decoration: none;}
	#sidebar #recent_comments a { color:#666; }
	#sidebar #recent_posts { font-size:12px; }
	
	
.pagination { background: white; margin-bottom:15px;  text-align: center; }
  .pagination a, .pagination span { padding: .2em .4em; font-size: 12px; margin-right: 2px; }
  .pagination span.disabled { color: #999; border: 1px solid #EEE; }
  .pagination span.current {
    font-weight: bold;
    background: #FFF;
    color: #666;
    border: 1px solid #CCC; }
  .pagination a:link,.pagination a:visited {
    text-decoration: none;
    color: #1259C7;
	background:#EEE;
    border: 1px solid #1259C7; }
    .pagination a:hover, .pagination a:focus {
      color: #FFF;
	background: #1259C7;
      border-color: #1259C7; }
  .pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
