.post_body { font-size: 14px; padding:5px 0; line-height: 160%; text-align: justify;}


	.post_body h2 { margin: 10px 0; font-size: 16px;}
	.post_body h3 { margin: 9px 0; font-size: 15px;}
	.post_body h4 { margin: 8px 0; font-size: 14px;}
	.post_body h5 { margin: 7px 0; font-size: 13px;}
	.post_body h6 { margin: 6px 0; font-size: 12px;}
	.post_body p { margin-bottom: 8px;}
	.post_tags { height:24px; line-height: 24px;}
	.post_stats { float:right; margin-top: -24px; margin-right: 10px;}
	.post_info { font-size: 12px; color:#999;}
	.post_body pre { margin:10px 0; padding:10px; font-size:12px; font-family: "ו"; line-height:140%;}

#sidebar .box { margin-bottom: 30px;}
	#sidebar .box .title { color:#dbdbdb; font-size: 18px; font-weight: bold;}
	#sidebar .box .content { margin:10px 10px;}
	#sidebar .box .content ul { margin: 0px; padding:0;  list-style: disc inside;}
	#sidebar .box .content ul li {  border-bottom: 1px solid #EEE; padding:5px;}
	#sidebar #feed #big_feed { float:left; margin-right:10px; margin-left: 10px;}
	#sidebar #feed img {border:0;} 
	
	
.pagination { background: white;margin-bottom: 15px;  /* self-clearing method: */ }
  .pagination a, .pagination span { padding: .4em .7em; display: block; float: left;font-size: 12px;			font-weight: bold; margin-right: 4px; }
  .pagination span.disabled { color: #999; border: 1px solid #e9f3d1; }
  .pagination span.current {
    font-weight: bold;
    background: #FFF;
    color: #d18201;
    border: 1px solid #66ae0c; }
  .pagination a:link,.pagination a:visited {
    text-decoration: none;
    color: #FFF;
		background:#77c615;
    border: 1px solid #77c615; }
    .pagination a:hover, .pagination a:focus {
      color: #FFF;
			background: #398700;
      border-color: #398700; }
  .pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
