.post_body { font-size: 14px; padding:8px 0; line-height: 160%; text-align: justify;}
	.post_body h2 { margin: 10px 0; font-size: 16px;}
	.post_body h3 { margin: 9px 0; font-size: 15px;}
	.post_body h4 { margin: 8px 0; font-size: 14px;}
	.post_body h5 { margin: 7px 0; font-size: 13px;}
	.post_body h6 { margin: 6px 0; font-size: 12px;}
	.post_body p { margin-bottom: 8px;}
	.post_tags { height:24px; line-height: 24px;}
	.post_stats { float:right; margin-top: -24px; margin-right: 10px;}
	.post_body pre { margin:10px 0; padding:10px; font-size:12px; font-family: "ו"; line-height:140%;}

#sidebar .box { margin-bottom: 30px;}
	#sidebar .box .title { color:#dbdbdb; font-size: 18px; font-weight: bold;}
	#sidebar .box .content { margin:10px 10px;}
	#sidebar .box .content ul { margin: 0px; padding:0; list-style: none inside;}
	#sidebar .box .content ul li { margin-bottom: 5px;}
	#sidebar #feed #big_feed { float:left; margin-right:10px; margin-left: 10px;}
	#sidebar #feed img {border:0;}