/**
 * name: index.css
 * authors: Jason Lee<huacnlee@gmail.com>
 * create at: 2009-04-19
 * summary: 
 *   Blog post list Stylesheet file      
 */
#posts { }
  #posts .post_item { margin-bottom: 10px; }
  #posts .post_item .post_title { font-size:16px; line-height:180%;font-weight:bold; }
  #posts .post_item .post_title a:link,
  #posts .post_item .post_title a:visited	{ color:#555;}


