/**
 * name: index.css
 * authors: Jason Lee<huacnlee@gmail.com>
 * create at: 2009-04-19
 * summary: 
 *   Blog post list Stylesheet file      
 */
#posts { }
  #posts .post_item { margin-bottom: 10px; }
  #posts .post_item .post_title { font-size:14px; line-height: 24px; } 
  #posts .post_item .post_title a { color:#222;}


