#comments { margin-top: 20px; }
#comments h2,#comment h2 { color:#999; margin: 10px 0; font-size:16px; }
#comment { margin-top: 20px; margin-bottom:10px;}
#comments .list { border-bottom: 1px solid #DDD; }
#comments .item { padding: 6px; border-top: 1px solid #DDD;}
#comments .itemse { background:#F5F5F5; }
#comments .none_result { padding:20px 10px;}
	#comments .item .info {color:#999; line-height: 24px; font-size: 12px;}
	#comments .item .content { font-size: 14px; line-height: 130%; min-height:40px;}
	#comments .item .face { float:right; padding:0 0 8px 8px; }
#comment .form { margin:0 10px;}

.post_item h1 { font-size:160%; color:#666; padding:0; margin-bottom: 2px; text-align: center;}
.post_item h1 span.category { font-size:12px; }
.post_item .post_info { margin-bottom:8px; text-align: center;}
.post_item .post_body { font-size:14px; }
.post_item .post_info span.date { margin-right:16px;}
.post_item .post_info span.view_count { margin-right:5px;}
