* { margin:0; padding:0; }
ul, ol { list-style-position:inside; }
img, iframe { border:0; }
table {width:100%;border-collapse:collapse;border-spacing:0} 
body { text-align:center; 
  font-family: "Helvetica Neue","Yahei", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important; 
  color:#333;
  font-size:14px;
  line-height:140%;
  padding-bottom:30px;  
}
a:link, a:visited { color:#4183C4; }
a:hover { color:#cf3400; }


/* old code style hack, if you don't need, remove it. */
.highlight pre,pre.textmate-source, pre {border: 1px solid #DEDEDE;background-color: ghostWhite;font-size:13px; line-height:150%; padding: 0.25em 0.5em 0.5em;overflow: auto;word-wrap: normal;}
pre.textmate-source pre { border:0; padding:0; }
.highlight .tt,.highlight .linenos,.highlight_top { display:none; }


/* pagination style */
.pagination { background: white; margin-bottom:15px;  text-align: left; }
  .pagination a, .pagination span, .pagination em { padding: .5em .6em; font-size: 13px; margin-right: 2px; }
  .pagination span.disabled { color: #999; border: 1px solid #EEE; }
  .pagination a:link,.pagination a:visited { text-decoration: none; color: #333;	background:#EEE; border: 1px solid #999; }
  .pagination em, .pagination a:hover, .pagination a:focus {color: #FFF;background: #4183C4; border:1px solid #1259C7; font-style:normal; }
  .pagination .page_info { background: #2E6AB1; color: white; padding: .4em .6em; width: 22em; margin-bottom: .3em; text-align: center; }
  .pagination .page_info b {color: #003; background: #6aa6ed;padding: .1em .25em; } 
  .pagination:after {content: ".";display: block;height: 0;clear: both;visibility: hidden; }
  .pagination span.gap { padding:0;}
  * html .pagination {height: 1%; }
  *:first-child+html .pagination {overflow: hidden; }

div.field, div.actions { margin-bottom: 10px;}
div.field .hint { font-size:12px; color:#999;}

.field_with_errors {  display:inline;  color:#b16125;}
.errorExplanation { margin:10px 0; background:#FFF8E7; padding:10px; border: 2px solid #F96;}
.errorExplanation h2 { font-size: 14px; line-height: 180%;}
.errorExplanation p { color:#999;}
.errorExplanation ul { font-size: 12px; margin-top: 8px; list-style: square inside; margin-left: 20px;}
.filter { text-align: right; line-height: 22px; }
  .filter label	{color: #999;}

.successMessage {margin:10px 0; background:#CF9; padding:10px; border: 2px solid #6C0; }

.form {}
.form .row, .form tr.row td { padding:5px 0; }
textarea.text,input.text { width:300px; border:1px solid #DDD; font-size:12px; 
  border-left:1px solid #AAA; border-top:1px solid #AAA; padding:2px; }
textarea.text:focus, input.text:focus { background:#fbf5bf; outline:0; }
input.checkbox { width:auto; }
input.button { border:normal; padding:5px 20px; }
textarea.middle,input.middle { width:500px; }
textarea.middle { height:100px; }
textarea.long,input.long { width:800px; }

.rbox { -webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px;}
