/**
 * name: html.css
 * authors: Jason Lee<huacnlee@gmail.com>
 * create at: 2009-04-10
 * summary: 
 *   base stylesheet       
 */
* { margin: 0;padding: 0; }
body { 
	font-family: Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
	font-size:   12px;
	background-color: #FFF;
	color: #333; 	
	text-align: center;
}
ul,ol { list-style-position: inside; margin:10px 24px;}

a:link,a:visited { color:#33C;}
a:hover { color:#333;}

input.text,textarea.text { padding:2px; font-size: 12px;}
input.button { padding:6px 10px;}
input.submit { padding:5px 30px; font-weight: bold;}
input.long,textarea.long { width:700px;}
input.short { width:80px;}
textarea.middle { width:450px; height: 80px;}

table.grid {width:100%;}

.errorExplanation { margin:10px 0; background:#FFF8E7; padding:10px; border: 2px solid #F96;}
.errorExplanation h2 { font-size: 14px; line-height: 180%;}
.errorExplanation p { color:#999;}
.errorExplanation ul { font-size: 12px; margin-top: 8px; list-style: square inside; margin-left: 20px;}
.filter { text-align: right; line-height: 22px; }
	.filter label	{color: #999;}
	
.successMessage {margin:10px 0; background:#CF9; padding:10px; border: 2px solid #6C0; }



/* form style */
.form {  }
	.form table { border:0; }
	.form table tr td { padding:5px; font-size: 12px;}
	.form table tr td.field { color:#666; text-align: right;}
	.form table tr td .tip { color:#999;}
	.form table tr td .tip_p { margin:8px 0; color:#999;}
	
.tinymce_box { background:#DDD;}
	.tinymce_box .buttons { height:24px; line-height: 24px;}
	.tinymce_box .buttons .insert { text-indent: 8px;}
	.tinymce_box .buttons .view { float:right; margin-top: -24px; }
	.tinymce_box .buttons .view button { padding:0 8px; height: 20px; line-height: 20px; margin-top:3px;  border: 1px solid #AAA; background: #DDD; margin-right:8px; border-bottom: 0px;}
	.tinymce_box .buttons .view button.selected { background:#EEE;}
	.tinymce_box table.mceLayout tr td { padding:0;}

.highlight .hll { background: #0C1021 }
.highlight { border:1px solid #EEE; overflow:hidden;	line-height:120%; }
.highlight pre {
  font-family:"Bitstream Vera Sans Mono","Monaco","Courier New",monospace,宋体;font-size:12px; font-weight:normal;
  }
.highlight .tt {  text-align: right;  font-size:11px; margin-top:6px; margin-right:6px;}
.highlight .tt a { color:#3EAC5B; }
.highlight .c { color: #919191; } /* Comment */
.highlight .err {} /* Error */
.highlight .k { color: #FF5600 } /* Keyword */
.highlight .cm { color: #919191; } /* Comment.Multiline */
.highlight .cp { color: #FF5600 } /* Comment.Preproc */
.highlight .c1 { color: #919191 } /* Comment.Single */
.highlight .cs { color: #919191 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #FF5600 } /* Keyword.Constant */
.highlight .kd { color: #FF5600 } /* Keyword.Declaration */
.highlight .kn { color: #FF5600 } /* Keyword.Namespace */
.highlight .kp { color: #FF5600 } /* Keyword.Pseudo */
.highlight .kr { color: #FF5600 } /* Keyword.Reserved */
.highlight .kt { color: #FF6400 } /* Keyword.Type */
.highlight .s { color: #00A33F } /* Literal.String */
.highlight .nc { color: #21439C } /* Name.Class */
.highlight .no { color: #505AC9 } /* Name.Class */
.highlight .nv { color: #505AC9 } /* shell var $DATE_NAME */
.highlight .nb { color: #FF5600 } /* shell keyword */
.highlight .o { color: #FF5600 } /* Operator */
.highlight .ow { color: #FF5600 } /* Operator.Word */
.highlight .sb { color: #00A33F } /* Literal.String.Backtick */
.highlight .sc { color: #00A33F } /* Literal.String.Char */
.highlight .sd { color: #00A33F } /* Literal.String.Doc */
.highlight .s2 { color: #00A33F } /* Literal.String.Double */
.highlight .se { color: #00A33F } /* Literal.String.Escape */
.highlight .sh { color: #00A33F } /* Literal.String.Heredoc */
.highlight .si { color: #00A33F } /* Literal.String.Interpol */
.highlight .sx { color: #00A33F } /* Literal.String.Other */
.highlight .sr { color: #00A33F } /* Literal.String.Regex */
.highlight .s1 { color: #00A33F } /* Literal.String.Single */
.highlight .ss { color: #00A33F } /* Literal.String.Symbol */



/**
 * name: layout.css
 * authors: Jason Lee<huacnlee@gmail.com>
 * create at: 2009-04-11
 * summary: 
 *   layout.css
 */
.inner_panel { width:1000px; margin: 0px auto; text-align: left;}
		
#header { height: 94px; background:#8fd300 url('../../images/header_bg.jpg');}
	#header .left_box { float:left; width:710px; background: url('../../images/header_domain.jpg') right top no-repeat;}
		#header #site_name { font-size:40px;  padding-top: 15px;}
			#header #site_name a { color:#dbf0ab; font-weight: bold; text-decoration: none;}
			#header .sub_title { color:#70af22; font-size: 14px; font-weight: bold;}
	#header .right_box { float:right;padding-top:22px; text-align: left; }
	#header .right_box img { border:0px;}

#nav { height:44px; overflow:hidden; background:#77c615;  font-size: 16px;}
	#nav ul { margin:0; list-style: none; padding-top: 10px; }
		#nav ul li { display:inline; font-weight: bold;}
		#nav ul li a:link,#nav ul li a:visited	{ margin-top: 4px; display: block; text-align: center; height:30px; overflow: hidden; line-height: 35px; overflow:hidden; width:93px; background: #66ae0c url('../../images/nav_item.jpg') left -34px no-repeat; color:#FFF; text-decoration: none; float: left; margin-right: 4px;}
		#nav ul li a:hover { background:#66ae0c url('../../images/nav_item.jpg') left -65px;}
		#nav ul li.actived a { background:#FFF url('../../images/nav_item.jpg') left 0px; height:34px; line-height: 39px; margin-top: 0px; color:#d38101; }
		#nav_search { float:right; width:214px; height:30px; text-align: left; background:url('../../images/nav_search_box.jpg') left top no-repeat; }
		#nav_search input { display: block; border:0; font-size: 12px; margin:6px 3px 5px 50px; width:111px; padding:1px;}
		#nav_search button { float:right; margin-top:-28px; width:42px; height:30px; margin-left:2px;  background:url(../../images/nav_search_button.jpg) left top no-repeat; border:0;}
		
#footer { background:#e9f3d1; clear: both; padding:10px 0; font-size: 11px;}

#main { padding: 20px 0; }
	#mainbox { width:700px; float:left;}
	#sidebar { width:285px;  float:right; }
	



	/* Code Style */
pre.textmate-source {
    overflow:auto;
	font-family:Monaco,Verdana,Arial,monospace;
	border:1px solid #DCE1E5;
	padding:0 10px;
	line-height: 1.3em;
	/* word-wrap: break-word; */
}

pre.textmate-source {
	color: #000000;
	background-color: #FFFFFF;
}

pre.textmate-source .linenum {
	width: 75px;
	padding: 0.1em 1em 0.2em 0;
	color: #888;
	background-color: #eee;
}
pre.textmate-source span {
   padding-top: 0.2em;
   padding-bottom: 0.1em;
}

/*
pre.textmate-source ::selection {
	background-color: #BAD6FD;
}
*/
/* Comment */
pre.textmate-source .comment {
	color: #919191;
}

/* String */
pre.textmate-source .string {
	color: #00A33F;
}

/* Number */
pre.textmate-source .constant_numeric {
}

/* Built-in constant */
pre.textmate-source .constant_language {
	color: #A535AE;
}

/* User-defined constant */
pre.textmate-source .constant_character, pre.textmate-source .constant_other {
}

/* Variable */
pre.textmate-source .variable_language, pre.textmate-source .variable_other {
}

/* Keyword */
pre.textmate-source .keyword {
	color: #FF5600;
}

/* Storage */
pre.textmate-source .storage {
	color: #FF5600;
}

/* Class name */
pre.textmate-source .entity_name_class {
	color: #21439C;
}

/* Inherited class */
pre.textmate-source .entity_other_inherited-class {
}

/* Function name */

pre.textmate-source .entity_name_function {
	color: #21439C;
}

/* Function argument */
pre.textmate-source .variable_parameter {
}

/* Tag name */
pre.textmate-source .entity_name_tag {
}

/* Tag attribute */
pre.textmate-source .entity_other_attribute-name {
}

/* Library function */
pre.textmate-source .support_function {
	color: #A535AE;
}

/* Library constant */
pre.textmate-source .support_constant {
	color: #A535AE;
}

/* Library class/type */
pre.textmate-source .support_type, pre.textmate-source .support_class {
	color: #A535AE;
}

/* Library variable */
pre.textmate-source .support_other_variable {
	color: #A535AE;
}

/* Invalid */
pre.textmate-source .invalid {
	color: #FFFFFF;
	background-color: #990000;
}

/* String interpolation */
pre.textmate-source .constant_other_placeholder_py {
	color: #990000;
}
