body { font-size:12px; background:#F0F0F0; }
.inner_panel { width:950px; margin: 0px auto; text-align: left;}

#nav { height:40px; line-height: 40px; background:#222; font-size: 14px; overflow:hidden;}
	#nav ul { margin: 0px; list-style: none; padding-top: 7px;}
		#nav ul li { display:inline; margin-right: 5px;}
		#nav ul a	{ text-decoration: none; color:#FFF; padding:7px 15px 5px 15px; background:#333;
		   border: 1px solid #404040;  border-radius:5px 5px 0 0;}
		#nav ul a:hover { background:#404040;border: 1px solid #444444;}
		#nav ul li.current span { color:#F30; padding:7px 15px 5px 15px; background:#FFF; border-radius:5px 5px 0 0;
		  border: 1px solid #FFF; border-bottom: 0px;}
		
#top { height: 30px; background:#222; overflow:hidden;}
	#top #site_name { font-size:20px; height:30px; line-height: 30px;}
		#top #site_name a { color:#fff; text-decoration: none;}
		#top .userbar { height:30px; line-height: 30px; color:#AAA; float:right; margin-right:10px; margin-top: -30px;}
		#top .userbar span.name { font-weight: bold; margin: 0px 2px; }
		#top .userbar a {color:#DDD;}

#footer { clear:both; background:#F0F0F0; font-size: 10px; padding:10px 0; font-size: 11px; color:#999;}
#footer a { color:#666;}
#main { padding: 10px 0; background:#FFF; min-height:450px; border-bottom:1px solid #DDD;}
#main h2 { font-size:16px; margin: 10px 0;}

#submenu { height:22px; line-height: 22px; margin-bottom: 10px; list-style: none; }
	#submenu li { display:inline; margin-right:10px;}
		#submenu li a:link,
		#submenu li a:visited { font-size: 14px; }
		#submenu li.current { font-weight: bold;}

table.grid { border:1px solid #DDD;}
	table.grid tr td { font-size: 12px; padding:4px; border-top: 1px solid #DDD; border-left: 1px solid #DDD;}
	table.grid tr td.first { border-left: 0px;}
	table.grid tr.head td { font-weight: bold; background:#EEE; border-top: 0px;}
	table.grid tr td.choice { width:16px;}
	table.grid tr td.slug { width:200px;}
	table.grid tr td.date { width:120px;}
	table.grid tr td.status { width:38px;}

.pagination { text-align: right; font-size:12px; font-weight:bold; margin:10px 0;  /* self-clearing method: */ }
.pagination span,.pagination a,.pagination em { padding:2px 4px;}

.box { margin-bottom:20px;}
.box h3 { color:#999;}
.box ul li { line-height:200%;}

#comments { border:1px solid #DDD;}
#comments .row { margin:10px; padding-bottom: 10px; border-bottom: 1px solid #DDD;}
#comments .row .info { font-size:12px; color:#999;}
#comments .row .body { font-size:12px; margin-top: 5px; line-height:160%;}
#comments .row .body .face { float:left; margin:0 10px 10px 0;}
#comments .row .opts { clear:both; color:#999; margin-top:8px; }
#comments .row .opts .post_title { float:right;}
#comments .row .opts .post_title a { color:#333;}

#login {background: #FFF; border-radius:10px; padding:20px; 
   text-align: left; width:450px; border:1px solid #CCC; margin:40px auto;
   -webkit-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1); }
#login form {  }
#login form tr td { padding:6px;}
#login form tr td.field { text-align: right; padding-right:6px; width:60px;}
h1 { font-size: 16px; padding:8px 10px; text-align: left; color:#999;}
