#header { margin-bottom:18px; }
#site_name:link,
#site_name:visited { font-size:32px; font-weight:bold;text-decoration:none; color:#cf3400;  }
#header .sub_title { color:#999; margin-left:10px; }
#nav_search { float:right; }
#container { width:960px; margin:20px auto; text-align:left; }
#nav { padding:8px 0; font-size:16px; }
#nav a:link,
#nav a:visited { color:#333; margin-right:10px; text-decoration:none; }
#nav a:hover {color:#cf3400;}
#nav a.actived { color:#cf3400; }
#footer { margin-top:18px; color:#999; font-size:11px; line-height:130%; }
#footer a { color:#999; }

span.date { color:#999; font-size:12px; }

#main { margin:20px 0; }
#main .box { margin-bottom:20px; }
#main .box h2 { font-size:16px; color:#666; }
#main .box ul { margin:10px 20px; }
#main .box ul li { line-height:170%; }

#posts { }
#posts .item { margin-bottom:28px; }
#posts .title a { font-size:18px; font-weight:bold; margin-bottom:5px;}
#posts .info { font-size:12px; color:#999; margin-bottom:5px; }
#posts .info a { color:#999; }

#posts h1 { font-size:18px; margin-bottom:5px; }
#posts .body {}
#posts .body h2 { font-size:16px; line-height:200%; }
#posts .body ul, #posts .body ol { margin:5px 20px; }
#posts .tags { font-size:12px; padding:5px 10px; background:#F5F5F5;  }
#posts .tags label { margin-right:10px; color:#999; }
#posts .tags a { margin-right:10px; color:#666;font-weight:bold;  }

#content h1 { font-size:18px; margin-bottom:5px; }
#content h2 { font-size:16px; line-height:200%; }
#content h3 { font-size:14px; line-height:180%; }
#content h4 { font-size:12px; line-height:160%; }
#content ul, #content ol { margin:5px 20px; }

#comments { margin-top: 20px; }
#comments h2,#comment h2 { color:#999; margin: 10px 0; font-size:16px; }
#comment { margin-top: 20px; margin-bottom:10px;}
#comments .list { border-bottom: 1px solid #DDD; }
#comments .item { padding: 6px; border-top: 1px solid #DDD;}
#comments .itemse { background:#F5F5F5; }
#comments .none_result { padding:20px 10px;}
	#comments .item .info {color:#999; line-height: 24px; font-size: 12px;}
	#comments .item .content { font-size: 13px; color:#444; line-height: 150%; min-height:40px;}
  #comments .item .content p { margin-bottom:8px; }
	#comments .item .face { float:right; padding:0 0 8px 8px; }

#comments { margin-top:30px; }
#comment .form { margin:0 5px;}
