#header { margin-bottom:18px; background:#fff1ce; padding:20px;
  -webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px; margin:-8px -8px 0 -8px; }
#site_name:link,
#site_name:visited { font-size:32px; font-weight:bold;text-decoration:none; color:#555;  }
#header .sub_title { color:#999; margin-left:10px; }
#nav_search { float:right; }
body { font-size:15px; background:#CCC; }
#container { background:#FFF; width:900px; background:#FFF; 
  -webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px;  
  padding:20px;
  margin:20px auto; text-align:left; }
#nav { margin-top:10px; padding:8px 0; font-size:16px; }
#nav a:link,
#nav a:visited { color:#333; text-decoration:none; margin-right:16px;}
#nav a:hover {color:#cf3400;}
  #nav a.actived { color:#cf3400; }
#footer { margin-top:18px; color:#999; font-size:11px; line-height:130%; }
#footer a { color:#999; }

input.text, textarea.text, select.text {font-size:16px;-webkit-border-radius: 6px; -moz-border-radius: 13px; border-radius: 6px; padding:10px;}
span.date { color:#999; font-size:12px; }

#main { margin:20px 0; }
#main .box { margin-bottom:20px; }
#main .box h2 { font-size:16px; color:#666;}
#main .box ul { margin:10px 20px; }
#main .box ul li { line-height:170%; }

#posts { }
#posts .item { margin-bottom:28px; }
#posts .title a,
#posts h1 { text-decoration: none; font-size:23px;  color:#d66220; display:block; margin-bottom:10px;}
#posts .info { font-size:12px; color:#999; margin-bottom:5px; }
#posts .info a { color:#999; }
#posts .info .category  { font-weight:normal; background:#F0F0F0; padding:2px 8px;} 
#posts .info .category  a {text-decoration: none;}


#posts .body {}
#posts .body h2 { font-size:16px; line-height:200%; }
#posts .body ul, #posts .body ol { margin:5px 20px; }
#posts .body p { margin-bottom:10px; }
#posts .tags { font-size:12px;   }
#posts .tags label { margin-right:10px; color:#999; }
  #posts .tags a { margin-right:10px; text-decoration: none; 
  color:#666;padding:5px 10px; background:#F5F5F5; }

#content h1 { font-size:18px; margin-bottom:5px; }
#content h2 { font-size:16px; line-height:200%; }
#content h3 { font-size:14px; line-height:180%; }
#content h4 { font-size:12px; line-height:160%; }
#content ul, #content ol { margin:5px 20px; }

