#shares {}
#shares .item { margin-top: 5px; margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #F0F0F0;}
#shares .item .title { line-height: 180%; color:#666; font-size:12px;}
#shares .item .title a {font-size:14px; font-weight:bold; }
#shares .item .summary { font-size: 12px; line-height: 160%;}