/**
 * name: cpanel/layout.css
 * authors: Jason Lee<huacnlee@gmail.com>
 * create at: 2009-04-15
 * summary: 
 *   Cpanel Layout Stylesheet       
 */

.inner_panel { width:950px; margin: 0px auto; text-align: left;}

#nav { height:40px; line-height: 40px; background:#333; font-size: 14px;}
	#nav ul { margin: 0px; list-style: none; padding-top: 7px;}
		#nav ul li { display:inline; margin-right: 5px;}
		#nav ul a	{ text-decoration: none; color:#FFF; padding:7px 15px 5px 15px; background:#444; border: 1px solid #555; border-bottom: 0px;}
		#nav ul li.current span { color:#F30; padding:7px 15px 5px 15px; background:#FFF; border: 1px solid #FFF;border-bottom: 0px;}
		
#top { height: 30px; background:#039;}
	#top #site_name { font-size:20px; height:30px; line-height: 30px;}
		#top #site_name a { color:#FFF; text-decoration: none;}
		#top .userbar { height:30px; line-height: 30px; color:#AAA; float:right; margin-right:10px; margin-top: -30px;}
		#top .userbar span.name { font-weight: bold; margin: 0px 2px; }
		#top .userbar a {color:#DDD;}

#footer { background:#F0F0F0; font-size: 11px; height:40px; padding-top:10px; font-size: 12px;}

#main { padding: 10px 0; background:#FFF;}

#main h2 { font-size:16px; margin: 10px 0;}

#submenu { height:22px; line-height: 22px; margin-bottom: 10px; list-style: none; }
	#submenu li { display:inline; margin-right:10px;}
		#submenu li a:link,
		#submenu li a:visited { color:#063; font-size: 14px; }
		#submenu li.current { font-weight: bold;}

table.grid { border:2px solid #CCC;}
	table.grid tr td { font-size: 12px; padding:4px; border-top: 1px solid #DDD; border-left: 1px solid #DDD;}
	table.grid tr td.first { border-left: 0px;}
	table.grid tr.head td { font-weight: bold; background:#EEE; border-top: 0px;}
	table.grid tr td.choice { width:16px;}
	table.grid tr td.slug { width:200px;}
	table.grid tr td.date { width:50px;}
	table.grid tr td.status { width:38px;}
