/**
 * name: login.css
 * authors: Jason Lee<huacnlee@gmail.com>
 * create at: 2009-04-14
 * summary: 
 *   for CPanel Login page       
 */
body { background:#DDD;}
#main {background: #FFF; text-align: left; width:400px; border:1px solid #CCC; margin:40px auto; }
#login { margin:30px; }
h1 { font-size: 16px; padding:8px; text-align: left; color:#039;}