/**
 * name: cpanel/pages.css
 * authors: Jason Lee<huacnlee@gmail.com>
 * create at: 2009-04-15
 * summary: 
 *   Cpanel Pages Stylesheet       
 */

#pages {}
#pages table.grid {}
#pages table.grid tr td.id { width:50px;}

#pages table.grid tr td.opt { width:100px;}
.form textarea.body { width:700px; height:500px;}