<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>应用程序异常</title>
	<%= stylesheet_link_tag "src/error", :cache => "error" %>
</head>
<body>
	<div id="main">
		<h1>应用程序异常</h1>
		<div class="box">
			<%= @message %>
		</div>
	</div>
</body>
</html>
