<% content_for :styles do %> 
<link rel="alternate" title="ATOM" type="application/atom+xml" href="<%= @api_url %>">
<%= stylesheet_link_tag "src/home/share",:cache => "share" %>
<% end %>
<div id="shares">
  <% if !@shares.blank? %>
    <ul>
    <% for item in @shares %>
    <li><a href="<%= item["link"] %>" target="_blank"><%= h item["title"] %></a></li>
    <% end %>
    </ul>
  <% end %>	
</div>
