<% content_for :submenu do %>
  <% if params[:action] == 'index' %>
  <li class="current"><span>参数设置</span></li>
  <% else %>
  <li><%= link_to "参数设置", :controller => "cpanel/settings", :action => "index" %></li>
  <% end %>
  <% if params[:action] == 'password' %>
  <li class="current"><span>修改密码</span></li>
  <% else %>
  <li><%= link_to "修改密码", :controller => "cpanel/settings", :action => "password" %></li>
  <% end %>
<% end %>