/**
 * name: home/index.css
 * authors: Jason Lee<huacnlee@gmail.com>
 * create at: 
 * summary: 
 *   home/index.css
 */

#recent_posts {  margin:0; margin-bottom: 16px; }  
  #recent_posts li { line-height:200%;   }
  #recent_posts li a { font-size:14px;}

#recent_posts .title,
#tweet .title { font-size:16px; color:#999; }


 
#webicons {  margin-bottom:15px; }
  #webicons .info { border-bottom: 1px solid #e0e0e0; padding-bottom: 8px;}
  #webicons .icons { padding-top:6px; height:16px; overflow:hidden; }
  #webicons .icons a { text-decoration: none;}
  #webicons .icons img { width:16px; height:16px; border:0;}

#tweet { margin-bottom:10px; }
  #tweet .title { }
  #tweet .title a {  margin-right: 12px;}
  #tweet .title img { border: 0;}
  #tweet ul { list-style: none; padding:0; font-size: 12px;}
  #tweet ul li { list-style-position: outside; padding:4px 0; margin:4px 0; border-bottom: 1px solid #eee;}
  #tweet ul li p.info { color:#999; margin-top: 3px;}
  #tweet ul li p.info a:link,#tweet ul li p.info a:visited { color:#999;}
  #tweet ul li p.info a:hover { color:#d38101;}
  
#recent_comments { margin-bottom:16px; }
#recent_comments .title { font-size:16px; color:#999; margin-bottom:6px; }
#recent_comments ul { margin:0; }
#recent_comments ul li { line-height:160%; }
#recent_comments ul li a { color:#444; }

#mainbox { width:460px; float:left;}
  #sidebar { width:250px; float:right; padding:10px; background:#FFF; margin-left:10px; }
