<% content_for :styles do %> 
<%= stylesheet_link_tag "src/posts/base","src/posts/index", :cache => "blog_index" %>
<%= auto_discovery_link_tag(:rss, :action => 'rss') %>
<% end %>
<div id="mainbox">
	<div id="posts">
	<%= render :partial => 'posts' %>
	</div>
</div>
<%= render :partial => 'sidebar' %>

