/**
 * name: show.css
 * authors: Jason Lee<huacnlee@gmail.com>
 * create at: 2009-04-17
 * summary: 
 *   Page show Stylesheet file      
 */
#content p { padding:10px 0; }
#content h2 { font-size: 16px; margin-top: 10px; }
#content h2 span,
#content h2 a,
#content h3 a { font-size: 12px; font-weight: normal;}
#content h3 { font-size: 14px; display:inline; }