/**
 * name: layout.css
 * authors: Jason Lee<huacnlee@gmail.com>
 * create at: 2009-04-11
 * summary: 
 *   layout.css
 */
.inner_panel { width:1000px; margin: 0px auto; text-align: left;}
		
#header { height: 94px; background:#8fd300 url('../../images/header_bg.jpg');}
	#header .left_box { float:left; width:710px; background: url('../../images/header_domain.jpg') right top no-repeat;}
		#header #site_name { font-size:40px;  padding-top: 15px;}
			#header #site_name a { color:#dbf0ab; font-weight: bold; text-decoration: none;}
			#header .sub_title { color:#70af22; font-size: 14px; font-weight: bold;}
	#header .right_box { float:right;padding-top:22px; text-align: left; }
	#header .right_box img { border:0px;}

#nav { height:44px; overflow:hidden; background:#77c615;  font-size: 16px;}
	#nav ul { margin:0; list-style: none; padding-top: 10px; }
		#nav ul li { display:inline; font-weight: bold;}
		#nav ul li a:link,#nav ul li a:visited	{ margin-top: 4px; display: block; text-align: center; height:30px; overflow: hidden; line-height: 35px; overflow:hidden; width:93px; background: #66ae0c url('../../images/nav_item.jpg') left -34px no-repeat; color:#FFF; text-decoration: none; float: left; margin-right: 4px;}
		#nav ul li a:hover { background:#66ae0c url('../../images/nav_item.jpg') left -65px;}
		#nav ul li.actived a { background:#FFF url('../../images/nav_item.jpg') left 0px; height:34px; line-height: 39px; margin-top: 0px; color:#d38101; }
		#nav_search { float:right; width:214px; height:30px; text-align: left; background:url('../../images/nav_search_box.jpg') left top no-repeat; }
		#nav_search input { display: block; border:0; font-size: 12px; margin:6px 3px 5px 50px; width:111px; padding:1px;}
		#nav_search button { float:right; margin-top:-28px; width:42px; height:30px; margin-left:2px;  background:url(../../images/nav_search_button.jpg) left top no-repeat; border:0;}
		
#footer { background:#e9f3d1; clear: both; padding:10px 0; font-size: 11px;}

#main { padding: 20px 0; }
	#mainbox { width:700px; float:left;}
	#sidebar { width:285px;  float:right; }
	



	/* Code Style */
pre.textmate-source {
    overflow:auto;
	font-family:Monaco,Verdana,Arial,monospace;
	border:1px solid #DCE1E5;
	padding:0 10px;
	line-height: 1.3em;
	/* word-wrap: break-word; */
}

pre.textmate-source {
	color: #000000;
	background-color: #FFFFFF;
}

pre.textmate-source .linenum {
	width: 75px;
	padding: 0.1em 1em 0.2em 0;
	color: #888;
	background-color: #eee;
}
pre.textmate-source span {
   padding-top: 0.2em;
   padding-bottom: 0.1em;
}

/*
pre.textmate-source ::selection {
	background-color: #BAD6FD;
}
*/
/* Comment */
pre.textmate-source .comment {
	color: #919191;
}

/* String */
pre.textmate-source .string {
	color: #00A33F;
}

/* Number */
pre.textmate-source .constant_numeric {
}

/* Built-in constant */
pre.textmate-source .constant_language {
	color: #A535AE;
}

/* User-defined constant */
pre.textmate-source .constant_character, pre.textmate-source .constant_other {
}

/* Variable */
pre.textmate-source .variable_language, pre.textmate-source .variable_other {
}

/* Keyword */
pre.textmate-source .keyword {
	color: #FF5600;
}

/* Storage */
pre.textmate-source .storage {
	color: #FF5600;
}

/* Class name */
pre.textmate-source .entity_name_class {
	color: #21439C;
}

/* Inherited class */
pre.textmate-source .entity_other_inherited-class {
}

/* Function name */

pre.textmate-source .entity_name_function {
	color: #21439C;
}

/* Function argument */
pre.textmate-source .variable_parameter {
}

/* Tag name */
pre.textmate-source .entity_name_tag {
}

/* Tag attribute */
pre.textmate-source .entity_other_attribute-name {
}

/* Library function */
pre.textmate-source .support_function {
	color: #A535AE;
}

/* Library constant */
pre.textmate-source .support_constant {
	color: #A535AE;
}

/* Library class/type */
pre.textmate-source .support_type, pre.textmate-source .support_class {
	color: #A535AE;
}

/* Library variable */
pre.textmate-source .support_other_variable {
	color: #A535AE;
}

/* Invalid */
pre.textmate-source .invalid {
	color: #FFFFFF;
	background-color: #990000;
}

/* String interpolation */
pre.textmate-source .constant_other_placeholder_py {
	color: #990000;
}
