/**
 * name: layout.css
 * authors: Jason Lee<huacnlee@gmail.com>
 * create at: 2009-04-11
 * summary: 
 *   layout.css
 */
#container { width:960px; overflow:hidden; margin:20px auto; text-align: left; }
		
#header { margin-bottom:10px; border-bottom:1px solid #DDD; padding:10px 0;  }
	#header #site_name { font-size:30px;  padding-top: 15px;}
		#header #site_name a { color:#1259C7; font-weight: bold; text-decoration: none;}
		#header .sub_title { color:#999; font-size: 12px; }


#nav { margin-bottom:30px;  font-size: 14px; }
	#nav ul { margin:0; list-style: none; margin-right: 10px; text-align: center; }
		#nav ul li { display:inline; font-weight: bold; }
		#nav ul li a:link,#nav ul li a:visited	{ margin-right: 10px;}
		#nav ul li a:hover { }
		#nav ul li.actived a { color:#333; }
		#nav_search { float:right; margin-top:-20px; text-align: left; }
		#nav_search input { padding:2px; }
		#nav_search button { padding:1px 6px; }
		
#footer { border-top:1px solid #DDD; margin-top:40px; text-align: center; clear: both; padding:10px 0; font-size: 11px;}

#main { }
	#mainbox { }
	#sidebar {  }
	



	/* Code Style */
pre.textmate-source {
    overflow:auto;
	font-family:Monaco,Verdana,Arial,monospace;
	border:1px solid #DCE1E5;
	padding:0 10px;
	line-height: 1.3em;
	/* word-wrap: break-word; */
}

pre.textmate-source {
	color: #000000;
	background-color: #FFFFFF;
}

pre.textmate-source .linenum {
	width: 75px;
	padding: 0.1em 1em 0.2em 0;
	color: #888;
	background-color: #eee;
}
pre.textmate-source span {
   padding-top: 0.2em;
   padding-bottom: 0.1em;
}

/*
pre.textmate-source ::selection {
	background-color: #BAD6FD;
}
*/
/* Comment */
pre.textmate-source .comment {
	color: #919191;
}

/* String */
pre.textmate-source .string {
	color: #00A33F;
}

/* Number */
pre.textmate-source .constant_numeric {
}

/* Built-in constant */
pre.textmate-source .constant_language {
	color: #A535AE;
}

/* User-defined constant */
pre.textmate-source .constant_character, pre.textmate-source .constant_other {
}

/* Variable */
pre.textmate-source .variable_language, pre.textmate-source .variable_other {
}

/* Keyword */
pre.textmate-source .keyword {
	color: #FF5600;
}

/* Storage */
pre.textmate-source .storage {
	color: #FF5600;
}

/* Class name */
pre.textmate-source .entity_name_class {
	color: #21439C;
}

/* Inherited class */
pre.textmate-source .entity_other_inherited-class {
}

/* Function name */

pre.textmate-source .entity_name_function {
	color: #21439C;
}

/* Function argument */
pre.textmate-source .variable_parameter {
}

/* Tag name */
pre.textmate-source .entity_name_tag {
}

/* Tag attribute */
pre.textmate-source .entity_other_attribute-name {
}

/* Library function */
pre.textmate-source .support_function {
	color: #A535AE;
}

/* Library constant */
pre.textmate-source .support_constant {
	color: #A535AE;
}

/* Library class/type */
pre.textmate-source .support_type, pre.textmate-source .support_class {
	color: #A535AE;
}

/* Library variable */
pre.textmate-source .support_other_variable {
	color: #A535AE;
}

/* Invalid */
pre.textmate-source .invalid {
	color: #FFFFFF;
	background-color: #990000;
}

/* String interpolation */
pre.textmate-source .constant_other_placeholder_py {
	color: #990000;
}
