<% content_for :styles do %> 
<%= stylesheet_link_tag "src/cpanel/index", :cache => "cpanel/index" %>
<% end %>
<div class="box">
	<h3>统计信息</h3>
	<ul>
		<li>页面：<%= @total[:page_count] %>篇</li>
		<li>文章：<%= @total[:post_count] %>篇</li>
		<li>评论：<%= @total[:comment_count] %>条</li>
	</ul>
</div>
