<style type="text/css">
	body { font-family: Georgia, serif; font-size: 12pt; color: black; }
</style>
<div style="background:#FFF; font-size:12px; padding:10px;">
	<div style="padding:8px; font-size:18px; height: 28px; line-height: 25px; color:#FFF: background: black; margin-bottom:20px;">
		<a href="<%= root_url %>" target="_blank" style="color:#FFF;"><%= yield :title %></a>
	</div>
	<div style="padding:8px;">
		<%= yield %>
	</div>
</div>
	
