<div style="background:#FFF; font-size:12px; padding:10px;">
	<div style="padding:8px; font-size:18px; border-bottom:2px solid #DDD;">
		<a href="<%= root_url %>" target="_blank"><%= yield :title %></a>
	</div>
	<div style="padding:8px;">
		<%= yield %>
	</div>
</div>
	